<!-- generate.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
</head>
<body>
    <h1>Your QR Code</h1>
    <img src="<%= src %>" alt="QR Code">
    
     <form action="/generate" method="GET">
    <label for="url">Enter URL:</label>
    <input type="text" id="url" name="url" placeholder="enter a code" required>
    <button type="submit">Generate QR Code</button>
</form>
</body>
</html>
